# ESTE ARQUIVO deve ser RENOMEADO para .env
# variaveis de ambiente usadas no backend. Preencher com os valores da sua conta:

API_TOKEN="obter o token na pagina do tmdb"
MONGODB_URL="mongodb+srv://USERNAME:PASSWORD@cluster0.a00ka.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
