# #################################################
# PYTHON
*.swp
__pycache__/
# pasta do ambiente virtual
env
# arquivo com as credenciais/senhas
.env
.vscode

# #################################################3
# SVELTE

node_modules

# Output
.output
.vercel
/front/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
